<mat-card class="h-100">
    <button mat-raised-button routerLink="/">Powrót</button>
    <mat-tab-group>
        <mat-tab label="Karty">
            <ng-template matTabContent>
                <div class="d-flex">
                    <button class="ml-auto" mat-raised-button color="primary" routerLink="card/new">Dodaj</button>
                </div>
                <app-admin-panel-card-table></app-admin-panel-card-table>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>