<div class="board-boundary mx-auto d-flex flex-column justify-content-between">
    <div class="circle circle--up"></div>
    <div class="circle circle--down"></div>
    <mat-card class="h-20 m-2">
        <div class="enemy">
            <div class="enemy__avatar"></div>
            <div class="enemy__info">
                <div class="enemy__info__single">
                    {{enemy.health}}
                </div>
            </div>
        </div>
        <div class="d-flex h-100  justify-content-center">
            <div class="my-cards d-flex justify-content-center h-100 col-9">
                <div class="single-card" *ngFor="let card of enemy.cards">
                    <app-card-image class="single-card__inner" [fill]="true" [id]="false"></app-card-image>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="h-50 m-2">
        <div class="d-flex flex-column justify-content-between h-100">
            <div class="h-50 p-2">
                <div class="d-flex h-100">
                    <div class="my-cards d-flex justify-content-center h-100 col-12">
                        <div class="single-card" *ngFor="let card of enemy.played">
                            <app-card-image class="single-card__inner" [fill]="true" [id]="card"></app-card-image>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game-line">
                <div class="game-line__inner"></div>
            </div>
            <div class="h-50 p-2">
                <div class="d-flex h-100">
                    <div class="my-cards d-flex justify-content-center h-100 col-12" cdkDropList
                        cdkDropListOrientation="horizontal" #myCards="cdkDropList" [cdkDropListConnectedTo]="[myHand]"
                        [cdkDropListData]="me.played" (cdkDropListDropped)="playCard($event)">
                        <div class="single-card" *ngFor="let card of me.played">
                            <app-card-image class="single-card__inner" [fill]="true" [id]="card"></app-card-image>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    <mat-card class="h-20 m-2">
        <div class="hero">
            <div class="hero__avatar"></div>
            <div class="hero__info">
                <div class="hero__info__single">
                    {{me.health}}
                </div>
                <div class="hero__info__single">
                    <app-mana-bar [value]="me.mana" [max]="manaMax"></app-mana-bar>
                </div>
                <div class="hero__info__single" (click)="escape()">
                    X
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center h-100">
            <div id="my-cards" cdkDropList cdkDropListOrientation="horizontal"
                class="my-cards d-flex justify-content-center col-9" #myHand="cdkDropList"
                [cdkDropListConnectedTo]="[myCards]" [cdkDropListData]="me.cards" (cdkDropListDropped)="drop($event)">
                <div class="single-card single-card--draggable" *ngFor="let card of me.cards" cdkDrag>
                    <app-card-image class="single-card__inner" [fill]="true" [id]="card"></app-card-image>
                    <app-card-image *cdkDragPreview [id]="card"></app-card-image>
                </div>
            </div>
        </div>
    </mat-card>
</div>