<div class="vw-100 vh-100 primary-bg">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <mat-card class="col-12 col-md-6 col-lg-4">
                <div class="text-center w-100">
                    <h2 class="mb-3">Rejestracja</h2>
                </div>
                <form [formGroup]="registerForm">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-icon matPrefix class="mr-3">account_box</mat-icon>
                        <input matInput placeholder="Login" formControlName="login" required>
                        <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                            <div *ngIf="f.login.errors.required">Title is required</div>
                        </div>
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-icon matPrefix class="mr-3">email</mat-icon>
                        <input matInput placeholder="Email" formControlName="email" required>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-icon matPrefix class="mr-3">lock</mat-icon>
                        <input matInput type="password" placeholder="Hasło" formControlName="password" required>
                        <div *ngIf="f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </mat-form-field>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-icon matPrefix class="mr-3">lock</mat-icon>
                        <input matInput type="password" placeholder="Potwierdź hasło" formControlName="confirmPassword" required>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                        </div>
                    </mat-form-field>
                    <button class="w-100 my-3" mat-raised-button color="primary" [disabled]="isDisabled"
                        (click)="register()">
                        Zarejestruj
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>