@import "../../../../variables";

.mat-card{
    background: transparent;
    padding: 2px 16px;
  }

.main-info {
    background-color: $primary;
    color: $text-color;
    text-align: center;
    border-radius: 30px;
    font-weight: 400;
    padding: 0;
    background-color: rgb(145, 109,95);
    color: #ddd;
    width: 100%;
}

.mana-dot {
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    width: 25px;
    height: 25px;
}

.full-dot {
    background-color: $primary;
}