@import "material-theme";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-bg {
    background-color: $warn!important;
    color: white!important;
}

.primary-bg {
  background-color: $primary!important;
  color: $text-color!important;
}

.pointer {
  cursor: pointer;
}

.menu-option {
  font-weight: 400;
  color: $text-color;
}